body {
    font-family: 'Open Sans', sans-serif;
    width: 960px;
    margin: 0 auto;
    background-color: rgb(255,255,255);
    color: rgb(31,31,31);
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

strong {
    background-color: rgba(143,170,157,.5);
}

header {
}

#logo {
    width: 150px;
    margin: 0 auto;
}

nav {
}

nav ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

figure {
    width: 600px;
    margin: 0 auto;
}

figcaption {
    color: rgb(199,81,66);
    font-size: .75em;
}

#main {
}

#main h1 {
    text-align: center;
}

#main blockquote {
    background-color: rgb(212,212,212);
    text-align: justify;
    width: 580px;
    margin: 0 auto;
    padding: 10px;
}

#menu {
}

#menu h2 {
    text-align: center;
}

#menu ul {
    width: 600px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}

#locations {
}

#locations h2 {
    text-align: center;
}

#about {
}

#about h2 {
    text-align: center;
}

#about p {
    background-color: rgb(212,212,212);
    width: 580px;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
}

#gallery {
    margin: 50px;
}

footer {
}

#toTop {
    width: 40px;
    margin: 0 auto;
}
