#four {
    color: rgba(70,137,102,1);
}
#three {
    color: rgba(255,240,165,1);
}
#two {
    color: rgba(255,176,59,1);
}
#one {
    color: rgba(182,73,38,1);
}
#zero {
    color: rgba(140,40,0,1);
}
